@page "/"

@inject PackageService packageService
@inject IToastService toastService
@inject NavigationManager navigationManager
@inject AuthService authService

<PageTitle>Home</PageTitle>

<Card>
    <div class="search-container">
        <div class="form-group">
            <label for="nameSearch">Name:</label>
            <InputText class="form-control" id="nameSearch" @bind-Value="nameSearch" />
        </div>

        <div class="form-group">
            <label for="statusSearch">Status:</label>
            <InputSelect @bind-Value="statusSearch">
                <option value="null">---Select Status---</option>
                <option value="@PackageStatus.InWarehouse">InWarehouse</option>
                <option value="@PackageStatus.InTransit">InTransit</option>
                <option value="@PackageStatus.Delivered">Delivered</option>
            </InputSelect>
        </div>

        <button class="button view" @onclick='() => FilterPackages()'>Search</button>
    </div>
</Card>

@if (filteredPackages.Any())
{
    <Card>
        <button class="button add" @onclick='() => navigationManager.NavigateTo("/packages/add")'>Add</button>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date of creation</th>
                    <th>Date of delivery</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var package in filteredPackages)
                {
                    <tr>
                        <td>@package.Id</td>
                        <td>@package.Name</td>
                        <td>@package.Status</td>
                        <td>@package.DateOfCreation</td>
                        <td>@(package.DateOfDelivery?.ToString() ?? "/")</td>
                        <td>
                            <div class="button-container">
                                <button class="button view" @onclick='() => navigationManager.NavigateTo($"/packages/{package.Id}")'>View</button>
                                <button class="button update" @onclick='() => navigationManager.NavigateTo($"/packages/update/{package.Id}")'>Update</button>
                                @if(authService.isLoggedIn){
                                    <button class="button remove" @onclick='() => DeletePackage(package.Id)'>Remove</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Card>
    
}
else
{
    <Card>
        <button class="button add" @onclick='() => navigationManager.NavigateTo("/packages/add")'>Add</button>
        <p>No packages found.</p>
    </Card>
}

@code {
    private List<Package> packages = new List<Package>();
    private List<Package> filteredPackages = new List<Package>();
    private string nameSearch = string.Empty;
    private PackageStatus? statusSearch = null;

    protected override async Task OnInitializedAsync()
    {
        packages = await packageService.GetAll();
        FilterPackages();
    }

    private void FilterPackages()
    {
        filteredPackages = packages.Where(p => (string.IsNullOrWhiteSpace(nameSearch) || p.Name.Contains(nameSearch, StringComparison.OrdinalIgnoreCase)) && (!statusSearch.HasValue || p.Status == statusSearch.Value)).ToList();
    }

    private async Task DeletePackage(Guid id)
    {
        string message = await packageService.Delete(id);

        if(message.Contains("successfully"))
        {
            toastService.ShowSuccess(message);
        }
        else
        {
            toastService.ShowError(message);
        }

        filteredPackages = packages.Where(p => p.Id != id).ToList();
    }
}